* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0d0d0d;
  color: #eaeaea;
  font-family: "JetBrains Mono", monospace;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

body {
  background: #0d0d0d;
  color: #eaeaea;
  font-family: "JetBrains Mono", monospace;
}

section {
  padding: 60px 30px;
}

html {
  scroll-behavior: smooth;
}
